@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary-color:#786CCB;
    --font-color:#F7F7F9;
    --secondary-color:#3F414E;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family:Roboto, Arial, san-serif;
    background-color:var(--primary-color);
    color:var(--font-color);
}
.container{
    width:300px;
    margin:95px auto;
    height:auto;
    padding:20px;
    border:2px solid #F7F7F9;
}
h3{
    text-align:center;
    margin:15px;
}
p{
    padding-top:15px;
    padding-bottom:15px;
    margin:15px;
}
.form{
    text-align:center;
    margin-bottom:15px;
    margin-right:9px;
}
.radio-input{
   display:none;
}
.radio-label{
    display:inline-block;
    cursor: pointer;
}
.radio-btn{
    display:inline-block;
    width:45px;
    height:45px;
    border-radius:50%;
    background-color: rgba(255, 255, 255, 0.2);
    position:relative;
    transition: 0.2;
}
.radio-btn::after{
    content:"";
    height:100%;
    width:100%;
    border-radius:100%;
    position:relative;
    top:0;
    left:0;
    background-color:#3F414E;
    opacity:0;
    transition:opacity 0.2s;
}
.radio-btn-value{
    position: relative;
    top:30%;
}
.radio-btn:hover{
    background-color:var(--secondary-color);
}
input:checked ~ .radio-label .radio-btn{
  border:none;
  outline:2px solid var(--font-color);
}
.submit-btn{
    width:300px;
    height:35px;
    border-radius:15px;
    background-color:var(--secondary-color);
    border:none;
    color:var(--font-color);
    cursor:pointer;
    margin-top:20px;
}
.submit-btn:active{
    background-color:var(--font-color);
    color:var(--primary-color);
}
.rating-header{
    background-color: rgba(0, 0, 0, 0.2);
    text-align:center;
    width:200px;
    margin:0 auto;
    border-radius:20px;
    padding:10px;
}
img{
    width:300px;
    margin-bottom:20px;
}
/*Mobile Devices*/
@media (max-width:768px){
    .container{
        width:auto;
        margin-left:10px;
        margin-right:10px;
    }
    h1,h3,h5,p{
        text-align:center;
    }
    .btn{
        margin:5px;
    }
    .submit-btn{
        width:300px;
    }
}