@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --color-primary:#786CCB;
    --color-white:#F7F7F9;
    --color-secondary:#3F414E;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-family:"Roboto",san-serif;
    background-color:var(--color-primary);
}
.card-container{
    width:400px;
    height:auto;
    border:2px solid var(--color-white);
    margin-top:95px;
    padding:30px;
}
.card-title,.card-description{
  color:var(--color-white);
  margin-bottom:15px;
}
.card-description{
    line-height:1.7;
    font-size:16px;
}
.form{
    width:100%;
}
.form div{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.radio-input{
    display:none;
}
.radio-label{
    display:block;
    cursor:pointer;
    margin-right:55px;
    margin-bottom:20px;
}
.radio-btn{
    width:45px;
    height:45px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius:50%;
    position:absolute;
    transition:background-color 0.2s;
}
.radio-btn::after{
    content:"";
    width:45px;
    height:45px;
    border-radius:50%;
    position:absolute;
    top:0;
    left:0;
    border:2px solid var(--color-white);
    background-color:var(--color-primary);
    opacity:0;
    transition:opacity 0.2s;
}
.radio-btn div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:var(--color-white);
    z-index:2;
}
.radio-btn:hover{
    background-color:var(--color-secondary);
}
.radio-input:checked ~ .radio-label .radio-btn::after{
    opacity:1;
}
.submit-btn,.back-btn-container{
    width:100%;
    height:35px;
    margin-top:40px;
    border-radius:15px;
    border:none;
    cursor:pointer;
    background-color:var(--color-secondary);
    color:var(--color-white);
}
.submit-btn:active{
    background-color:var(--color-white);
    color:var(--color-primary);
}
.thank-you-container{
    color:var(--color-white);
    text-align:center;
}
img{
    width:295px;
    border-radius:15px;
}
.rating-result-container{
   margin-right:50px;
   margin-left:50px;
}
.result{
    background-color:rgba(255, 255, 255, 0.2);
    border-radius:15px;
    padding:5px;
    margin-top:5px;
    width:250px;
}
.thank-you-title{
   margin:10px;
}
.back-btn{
    text-decoration:none;
    color:var(--color-white);
}
.back-btn-container{
    margin-top:20px;
    padding:5px;
}
/* Mobile Section starts here */